body{
	margin:	0;
	padding:0;
}

	framesDiv{
		
	}

		.menuDiv{	display:				grid;	
					grid-template-columns:	1fr 3fr 1fr;
					width:					100%;
					position:				fixed;
					top:					0;
					left:					0;
					
		}

			.menuItemEmpty{}
				.menuItemPhotos{}
				.menuItemBedrooms{}
				.menuItemKitchens{}
				.menuItemPlaygrounds{}
		
	.barDiv{	display	:			flex;	
				flex-direction:		row;	
				justify-content:	space-around;
				position:			fixed;
				bottom:				5vh;
				left:				0;
				width:				100%;
	}

	.barPreviousNextDiv{
		width:	50px;
	}	

/*	Для ПК	*/
@media (min-width:	1024px){
	
	.frontsideFrameDiv{
		width:		107%;
		position:	absolute;
		left:		-40;
	}

	.backsideFrameDiv{
		width:		107%;
		position:	absolute;
		left:		-40;
	}
	
	.menuDiv{
		height:		75px;
	}
	
	.subMenuDiv{
		display:				grid;	
		grid-template-columns:	repeat(	auto-fit, minmax(20vh, 1fr)	);
	}
	
	.initialLettersDiv{
		display:	none;
	}
	
		
	.MOBILE_contactsDiv{
		display:	none;
	}
	
}

/*	Для смартфонов	*/
@media(max-width:	800px){
	
	.MOBILE_contactsDiv{
		
	}
	
	.frontsideFrameDiv{
		width:		120%;
		position:	absolute;
		left:		-10%;
	}

	.backsideFrameDiv{
		width:		120%;
		position:	absolute;
		left:		-10%;
	}
	
	.framesDiv{
		top:		35vh;
	}
	
	.menuDiv{	
		grid-template-columns:	1fr 10fr 1fr;
		grid-template-rows:		repeat(	1fr	);
		top:					10vh;
	}

	.subMenuDiv{
		display:				grid;	
		grid-template-columns:	repeat(	auto-fit, minmax(20vh, 1fr)	);
		grid-gap:				8vw;
	}

	.barDiv{
		display:		none;
	}
	
	.menuItemPhotos{
		
	}
	.menuItemBedrooms{
		
	}
	.menuItemKitchens{
		
	}
	
	.menuItemMOBILE{
		
	}
	
	.initialLettersDiv{
		height:		20%;
	}
	
	.PC_contactsDiv{
		display:	none;
	}
	
}












