		.subMenuDiv{
			background:				url(PC_menu_decor.png)	no-repeat;
			background-size:		0%;
			background-position:	center;
			
		}
		
			.menuItemButton{
				padding:		5px;
			}
			
			.menuItemsStyle{
				/*	Задал высоту в пикселях. т.к. если при просмотре на айпаде 	выйдет клавиатура, с относительными ед. будет все сжиматься.	*/
				height:					40px;
				background-position:	center;
				background-repeat:		no-repeat;
			}
	
	.barDivStyle{
		background-color:	rgba(255,	255,	255,	.25);
		padding:			10px;
	}
	
	.barDivStyle:hover{
		background-color:	rgba(255,	255,	255,	.5);
		
	}
	
		.barDivStyle>div{
			
		}
	
			.barPixStyle{
				padding:	1px;
			}
			.barPixStyle:hover{
				background:			url(	animation/circle-hover-animateCircles-110px-opacity.gif	) 	no-repeat;
				background-size:	8vw;
				background-position:center;
				/*
				border:				0px solid;
				border-radius:		50%	50%	50%	50%;
				border-color:		white;
				background-color:	rgba(200,	250,	100,	1);
				*/
			}
			.barPixStyle:active{
				border:				0px solid;
				border-radius:		50%	50%	50%	50%;
				border-color:		black;
				background-color:	black;
			}
		
				.barDivImages{
					/*	Задать размеры изображений здесь	*/
					/*		Почему-то позднее размеры изображений перестали меняться по этим параметрам	*/
					height:		90px;
					width:		90px;
					margin:		5px;
					display:	block;
					overflow:	visible;
				}
		
				.barDivImages:hover{
					
				}
		
		.barPreviusStyle{
			background:			url(	cursorPrevious.png	)	no-repeat;
			background-size:	contain;
		}
		
		.barPreviusStyle:hover{
			background:			url(	cursorPreviousActive.png	)	no-repeat;
			background-size:	contain;
		}
		
		.barNextStyle{
			background:			url(	cursorNext.png	)	no-repeat;
			background-size:	contain;
		}
		
		.barNextStyle:hover{
			background:			url(	cursorNextActive.png	)	no-repeat;
			background-size:	contain;
		}
	
	.businessCardLinkStyle{
		letter-spacing:			.5em;
	}
	.businessCardLinkStyle:hover{
		letter-spacing:			.4em;
		font-weight:			bolder;
	}
	.businessCardLinkStyle:active{
		letter-spacing:			.4em;
		font-weight:			bolder;
	}

/*	Для мобильных	*/
@media(max-width:	800px){
	
	body{
		background-color:		rgb(	240,	240,	240	);
		overflow:				hidden;
	}
	
		.initialLettersDiv{
			/*
			background:			url(	LETTERS_portfolio.png	)	no-repeat	center;
			background-size:	50%
			*/
		}
		
		.menuDivStyle{
			background:				url(	LETTERS_portfolio.png	)		no-repeat;
			background-size:		1%;
			background-position:	center;
		}
		
			.subMenuDiv{
				background:				url(MOBILE_menu_separator.png);
				background-repeat:		no-repeat;
				background-size:		15%;
				background-position:	center;
			}
		
				/*	селектор выбранного пункта меню. Применяется через скрипт	*/
				.menuItemSelectorStyle{
					background-image:		url(	menu_selector.png	);	
					background-position:	center;
					background-repeat:		no-repeat;
					background-size:		65%	45%;
				}

					.menuItemPhotosStyle{	
						background-image:	url(	galleryPNG24-30px.png	);
						background-size:	35%;
					}
					.menuItemPhotosStyle:active{	
						background-image:	url(	galleryPNG24-30px-active.png	);
						background-size:	35%;
					}
					
					.menuItemBedroomsStyle{		
						background-image:	url(	badroom30px.png	);
						background-size:	35%;
					}
					menuItemBedroomsStyle:active{
						background-image:	url(	badroom-active30px-gray.gif	);
						background-size:	35%;
					}
					
					.menuItemKitchensStyle{
						background-image:	url(	kitchen30px.png	);
						background-size:	35%;
					}
					.menuItemKitchensStyle:active{
						background-image:	url(	kitchen-active30px-gray.gif	);
						background-size:	35%;
					}
					
					.menuItemPlaygroundsStyle{
						background-image:	url(	playground30px.png	);
						background-size:	35%;
					}
					.menuItemPlaygroundsStyle:active{
						background-image:	url(	playground-active30px.gif	);
						background-size:	35%;
					}
	
			.MOBILE_contactsDiv{
				background-color:	black;
				padding:			5px;
			}
			
			.contactsFontStyle{
				color:				white;
				font-weight:		light;
				font-size:			small;
				font-family:		"Verdana","sans-serif";
				text-decoration:	none;
			}
		
}
/*	Для ПК	*/
@media (min-width:	1024px){
	
	body{
		background-color:		rgb(	240,	240,	240	);
		overflow:				hidden;
	}
	
		.menuDivStyle{
			background:			
				url(LETTERS_portfolio.png)	no-repeat,
				linear-gradient(
					to bottom,	
					rgba(	250,	250,	250,	1	) 0%,	
					rgba(	250,	250,	250,	1	) 90%,
					rgba(	250,	250,	250,	0	) 100%
				);
			background-size:		1%;
			background-position:	center;
			opacity:				.8;
		}
	
		.menuDivStyle:hover{	
			height:					50vh;
			background:			
				url(LETTERS_portfolio.png)	no-repeat,
				linear-gradient(
					to bottom,	
					rgba(	250,	250,	250,	1	) 0%,	
					rgba(	250,	250,	250,	1	) 70%,
					rgba(	250,	250,	250,	0	) 100%
				);
			background-size:		50%;
			background-position:	center;
			opacity:				1;
		}

		.menuDecor:hover{
			background:				url(PC_menu_decor.png)	no-repeat;
			background-size:		100%;
			background-position:	center;
		}
	
			/*	селектор выбранного пункта меню. Применяется через скрипт	*/
			.menuItemSelectorStyle{
				background-image:		url(	menu_selector.png	);	
				background-position:	center;
				background-repeat:		no-repeat;
				background-size:		80%	70%;
			}
	
				.menuItemPhotosStyle{	
					background-image:	url(	galleryPNG24-30px.png	);
				}
				.menuItemPhotosStyle:hover{	
					background-image:	url(	galleryPNG24-30px-hover.png	);
				}
				.menuItemPhotosStyle:active{	
					background-image:	url(	galleryPNG24-30px-active.png	);
				}
				
				.menuItemBedroomsStyle{		
					background-image:	url(	badroom30px.png	);
				}
				.menuItemBedroomsStyle:hover{	
					background-image:	url(	badroom-hover-animate30px-gray.gif	);	
				}
				menuItemBedroomsStyle:active{
					background-image:	url(	badroom-active30px-gray.gif	);
				}
				
				.menuItemKitchensStyle{
					background-image:	url(	kitchen30px.png	);
				}
				.menuItemKitchensStyle:hover{
					background-image:	url(	kitchen-hover-animate30px-gray.gif	);
				}
				.menuItemKitchensStyle:active{
					background-image:	url(	kitchen-active30px-gray.gif	);
				}
				
				.menuItemPlaygroundsStyle{
					background-image:	url(	playground30px.png	);
				}
				.menuItemPlaygroundsStyle:hover{
					background-image:	url(	playground-hover-animate30px-gray.gif	);
				}
				.menuItemPlaygroundsStyle:active{
					background-image:	url(	playground-active30px.gif	);
				}
	
	.contactsFontStyle{
		color:				black;
		font-weight:		light;
		font-size:			small;
		font-family:		"Verdana","sans-serif";
		text-decoration:	none;
	}
	
}












